<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>ZenSpace </title>
    <!-- CSS  -->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <% include layout.ejs %>
    <section class="left-adjust">
        <div class="section no-pad-bot" id="index-banner">
        </div>
        <div class="container">
            <br>
            <br>
            <h1 class="header center amber-text">Healthy Mind and Body</h1>
        </div>
        <div class="value-prop container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="images/med4.jpg">
                                <span class="card-title">Rustic Meditation</span>
                            </div>
                            <div class="card-content">
                                <p>Enjoy a taste of deep exploration in the Sierra Nevadas. </p>
                            </div>
                            <div class="card-action">
                                <a href="#">View</a>
                                <a href='#'>Share</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="images/med1.jpg">
                                <span class="card-title">Deep Meditation</span>
                            </div>
                            <div class="card-content">
                                <p>Relax and refresh on this island voyage. No sunscreen required!</p>
                            </div>
                            <div class="card-action">
                                <a href="#">View</a>
                                <a href='#'>Share</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                      <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="images/med2.jpg">
                                <span class="card-title">Calm Meditation</span>
                            </div>
                            <div class="card-content">
                                <p>R</p>
                            </div>
                            <div class="card-action">
                                <a href="#">View</a>
                                <a href='#'>Share</a>
                            </div>
                        </div>
                    </div>
                          <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="images/med3.jpg">
                                <span class="card-title">Peaceful Meditation</span>
                            </div>
                            <div class="card-content">
                                <p>Trek through the vast expanse of the Gobi Desert. Make sure to stay hydrated!</p>
                            </div>
                            <div class="card-action">
                                <a href="#">View</a>
                                <a href='#'>Share</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                </div>
            </div>
        </div>
        <% include footer.ejs %>
    </section>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>

</html>
