<footer class="page-footer orange">
    <link rel='stylesheet', href='/css/style.css'>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style-layout.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <div class="container">
        <div class="row">
            <div class="col l6 s6">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
            </div>
            <div class="col offset-s3 offset-l3 l3 s3">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">About</a></li>
                    <li><a class="white-text" href="#!">The Team</a></li>
                    <li><a class="white-text" href="#!">Our Mission</a></li>
                    <li><a class="white-text" href="#!">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <a class="orange-text text-lighten-3" href="#">Love</a>
        </div>
    </div>
</footer>
<!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script src="js/init.js"></script>