<footer class="page-footer orange">
    <link rel='stylesheet', href='/css/style.css'>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style-layout.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <a class="orange-text text-lighten-3" href="#">Love</a>
        </div>
    </div>
</footer>
<!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script src="js/init.js"></script>