<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>ZenSpace </title>
    <!-- CSS  -->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <% include layout.ejs %>
    <section class="left-adjust">
        <div class="section no-pad-bot" id="index-banner">
        </div>
        <div class="container">
            <br>
            <br>
            <h1 class="header center amber-text">Sentiment Analysis</h1>
        </div>
        <div class="value-prop container">
            <div class="section">
                <div class="row">
                    <div class="col sm12 m12">
                        <link rel="stylesheet" href="graph.css" type="text/css">
                        <style>
                        body {
                            font-family: "Helvetica Neue", Helvetica;
                        }

                        p {
                            clear: both;
                            top: 20px;
                        }

                        div.aGraph {
                            margin-top: 30px;
                            padding: 10px;
                            margin-bottom: 30px;
                            margin-left: -30px;
                        }
                        </style>
                        <div class="card">
                            <div id="graph1" class="aGraph" style="position:relative;width:100%;height:400px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include footer.ejs %>
        <script src="js/line-graph.js"></script>
        <script src="js/graph-data.js"></script>
    </section>
</body>

</html>