<div class="navbar-fixed">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet', href='/css/style.css'>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style-layout.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Z E N S P A C E</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Welcome, Zach</a></li>
            </ul>
            <ul id="slide-out" class="side-nav fixed adjust">
                <!--ul id="nav-mobile" class="side-nav"-->
                <div class="centered red valign-wrapper ">
                    <!--a class="btn-flat btn-large waves-effect waves-light"-->
                    <a class="second-collapse"> ZZ </a>
                    <!--/a-->
                </div>
                <div id="menubar">
                    <li id='one'> <a href="/"><i class="mdi-action-home"> </i> <zz> Home </zz> </a></li>
                    <li id='two'><a href="/analysis"><i class="mdi-editor-insert-chart"></i> <zz> Statistics </zz> </a></li>
                    <li id='three'>
                        <a href="/logs"> <i class="mdi-action-assignment"> </i>
                            <zz> Logs </zz>
                        </a>
                    </li>
                    <li id='ex'>
                        <a href="/exercises"> <i class="mdi-action-dns"> </i>
                            <zz>Exercises</zz>
                        </a>
                    </li>
                    <li id='five'>
                        <a href="/graphs"> <i class="mdi-action-settings"> </i>
                            <zz> Settings </zz>
                        </a>
                    </li>
                </div>
                <div class="notes">
                    <ul class="subtitle"> Zenspace </ul>
                    <ul class="tight">Creative Commons 2015. </ul>
                </div>
            </ul>
            <!--a href="#" data-activates="nav-mobile" class="button-collapse"-->
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="mdi-navigation-menu"></i>
            </a>
        </div>
    </nav>

</div>