/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

@font-face {
    font-family: Bebas;
    src: url(../font/BebasNeue.otf);
}

.landing {
    background: url(../screen0.png) no-repeat;
    background-size: cover;
}

.brand-logo {
    font-family: Bebas;
    letter-spacing: 4px;
    font-size: 32px;
}

@media only screen and (min-width: 993px) {
    .nav-wrapper {
        margin-left: 250px;
    }
    .left-adjust {
        margin-left: 200px;
    }
    .value-prop {
        width: 90%;
        margin-left: 7%;
    }
}

@media only screen and (min-width: 601px) {
    .side-nav {
        top: 64px !important;
    }
}

.side-nav {
    font-family: Lato;
    top: 56px;
    background-color: #20272C;
    /*background-color: #483C6C;*/
}

.side-nav i {
    color: white;
    margin-right: 10px;
    margin-left: -10px;
}

.side-nav i::after {
    content: "";
}

.side-nav i:after {
    padding-right: 40px;
}

.side-nav zz {
    color: white;
    margin-left: -30px;
}

.side-nav a {
    /*display: inline-flex;*/

    color: white;
    margin-left: 0px;
}

.side-nav.adjust a {
    display: flex;
}

.notes {
    color: rgb(168, 168, 168);
    font-size: 10px;
}

.notes .subtitle {
    font-size: 18px;
    letter-spacing: 4px;
    font-family: Bebas;
    margin-bottom: -10px;
}

.notes ul {
    margin: 0 2px -10px 50px;
}

.side-nav .centered {
    margin: 10px auto 10px auto;
    padding: 10px;
}

.side-nav .red {
    background-color: #EA2D44;
    border: 2px solid #EA2D44;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.red a {
    color: white !important;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}

.side-nav {
    width: 200px;
}

.header{
    margin: 10px auto 50px auto;
    font-family: Lato;
}

p, h1, h2, h3, h4, h5 {
    font-family: Lato;
}
p.light {
    line-height: 2;
}

.selected {
    background-color: blueviolet;
}

.card input, .card .text{
    outline: none;
}


.notepad, .notepad:before, .notepad:after {
  background-color: white;
  background-image: -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#e8e8e8 1px, transparent 1px);
  background-image: -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#e8e8e8 1px, transparent 1px);
  background-image: -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#e8e8e8 1px, transparent 1px);
  background-image: linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#e8e8e8 1px, transparent 1px);
  background-size: 1px 1px, 1px 1px, 23px 23px;
  background-repeat: repeat-y, repeat-y, repeat;
  background-position: 22px 0, 24px 0, 0 50px;
  border-radius: 2px;
 /* -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);*/
}

.notepad {
  position: relative;
 /* margin: 30px auto; */
  padding: 0 23px 14px 35px;
  line-height: 23px;
  font-size: 11px;
  color: #666;
}

.notepad p, .notepad blockquote {
  margin-bottom: 23px;
}

.notepad :last-child {
  margin-bottom: 0;
}

.notepad:before, .notepad:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 3px;
  right: 3px;
  margin-top: -2px;
  height: 4px;
  background-size: 1px 1px, 1px 1px, 0 0;
}

.notepad:before {
  z-index: -2;
  left: 6px;
  right: 6px;
  height: 6px;
  background-color: #eee;
}
.notepad-heading {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}