/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

@font-face {
    font-family: Bebas;
    src: url(../font/BebasNeue.otf);
}

.landing {
    background: url(../screen0.png) no-repeat;
    background-size: cover;
}

.brand-logo {
    font-family: Bebas;
    letter-spacing: 4px;
    font-size: 32px;
}

@media only screen and (min-width: 993px) {
    .nav-wrapper {
        margin-left: 250px;
    }
    .left-adjust {
        margin-left: 200px;
    }
    .value-prop {
        width: 90%;
        margin-left: 7%;
    }
}

@media only screen and (min-width: 601px) {
    .side-nav {
        top: 64px !important;
    }
}

.side-nav {
    font-family: Lato, Ubuntu, Roboto;
    top: 56px;
    background-color: #20272C;
    /*background-color: #483C6C;*/
}

.side-nav i {
    color: white;
    margin-right: 10px;
    margin-left: -10px;
}

.side-nav i::after {
    content: "";
}

.side-nav i:after {
    padding-right: 40px;
}

.side-nav zz {
    color: white;
    margin-left: -30px;
}

.side-nav a {
    /*display: inline-flex;*/

    color: white;
    margin-left: 0px;
}

.side-nav.adjust a {
    display: flex;
}

.notes {
    color: rgb(168, 168, 168);
    font-size: 10px;
}

.notes .subtitle {
    font-size: 18px;
    letter-spacing: 4px;
    font-family: Bebas;
    margin-bottom: -10px;
}

.notes ul {
    margin: 0 2px -10px 50px;
}

.side-nav .centered {
    margin: 10px auto 10px auto;
    padding: 10px;
}

.side-nav .red {
    background-color: #EA2D44;
    border: 2px solid #EA2D44;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.red a {
    color: white !important;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}

.side-nav {
    width: 200px;
}

.header{
    margin: 10px auto 50px auto;
    font-family: Lato, Ubuntu, Roboto;
}

p, h1, h2, h3, h4, h5 {
    font-family: Lato, Ubuntu, Roboto;
}
p.light {
    line-height: 2;
}

.selected {
    background-color: blueviolet;
}